<h1 class="fontface-2">CHANGE PASSWORD</h1>
<div class="change-password base-form">
    <form method="post" action="/" class="formulario">
        <!--Current password-->
        <div class="form-row clearfix">
            <div class="form-column">
                <span class="form-label">Current password:</span>
                <input type="password" name="current" value="" class="form-field current-pass required">
            </div>
            <div class="form-column">
            </div>
        </div>
        <!--New password-->
        <div class="form-row clearfix">
            <div class="form-column">
                <span class="form-label">New password:</span>
                <input type="password" name="newpassword" value="" class="form-field new-pass required">
            </div>
            <div class="form-column">
                <span class="form-label">Confirm password:</span>
                <input type="password" name="confirmpassword" value="" class="form-field confirm-pass required">
            </div>
        </div>
        <!--Save new password-->
        <div class="form-row clearfix">
            <div class="form-column">
                <div class="button-style button-default button-save">
                    <span>Save new password</span>
                </div>
            </div>
            <div class="form-column">
            </div>
        </div>
    </form>
</div>