<!--CONTENT-->
<div class="charts-ranking">

    <!--COLUMNS-->
    <div class="columns-container hidden">

        <!--COLUMN LEFT-->
        <div class="media-column hidden">

            <!--TOP SILVER SONGS-->
            <div class="default-content-ph top-songs-list-silver respiro">
                <div class="ph">
                </div>
            </div>
            <!--END TOP SILVER SONGS-->

            <!--TOP SILVER USERS-->
            <div class="default-content-ph top-users-list-silver under-list">
                <div class="ph">
                </div>
            </div>
            <!--END TOP SILVER USERS-->
        </div>

        <!--COLUMN MIDDLE-->
        <div class="column-middle media-column hidden">
            <!--TOP GOLD SONGS-->
            <div class="default-content-ph top-songs-list-gold respiro">
                <div class="ph">
                </div>
            </div>
            <!--END TOP GOLD SONGS-->

            <!--TOP GOLD USERS-->
            <div class="default-content-ph top-users-list-gold under-list">
                <div class="ph">
                </div>
            </div>
            <!--END TOP GOLD USERS-->
        </div>

        <!--COLUMN RIGHT-->
        <div class="media-column hidden">
            <!--TOP BRONZE SONGS-->
            <div class="default-content-ph top-songs-list-bronze respiro">
                <div class="ph">
                </div>
            </div>
            <!--END TOP BRONZE SONGS-->

            <!--TOP BRONZE USERS-->
            <div class="default-content-ph top-users-list-bronze under-list">
                <div class="ph">
                </div>
            </div>
            <!--END TOP BRONZE USERS-->
        </div>

        <div class="clearfix"></div>
    </div>
    <!--END COLUMNS-->
    <div class="clearfix"></div>

    <!--GRAPH TOP 10 SONGS-->
    <div class="graph graph-top-songs">
    </div>

    <!--END GRAPH TOP 10 SONGS-->

    <!--GRAPH TOP 10 ALBUMS-->
    <div class="graph graph-top-albums">
    </div>

    <!--END GRAPH TOP 10 ALBUMS-->

    <!--PIE GRAPHS-->
    <div class="pie-graph">
        <div class="pie-graph-item pie-chart-gender">
        </div>
        <div class="pie-graph-item pie-chart-age">
        </div>
        <div class="pie-graph-item pie-chart-activity">
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--END CONTENT-->