<h1 class="fontface-2">FORGOT PASSWORD</h1>
<div class="forgot-password base-form">
    <p>Fill out the email field below and we will send you an email with intructions to recover your password.</p>
    <div class="form-row">
        <div class="form-column">
            <span class="form-label">Email:</span>
            <input type="text" name="username" value=" " class="form-field">
        </div>
        <div class="form-column">
            <div class="button-style button-default">
                <span>Send</span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>