<h1 class="graph-title-font">{{this.title}}</h1>
<ul class="graph-menu">
    <li class="graph-item"><span>MONTH</span></li>
    <li class="graph-item"><span>WEEK</span></li>
    <li class="graph-item"><span>DAY</span></li>
</ul>
<div class="graph-item-ph hidden">
    <div class="graph-bar-ph">
        <div class="graph-bar">
        </div>
    </div>
    <div class="left-album mini-album rounded-corners">
        <span class="round-counter"></span>
        <div class="reflexo-mini"></div>
        <img src="/img/album/mini/dummy-album.jpg" class="rounded-corners graph-img" width="65" height="65" alt="album">
    </div>
</div>
<div class="graph-container rounded-corners">
</div>

<div class="graph-legend-container">
    <ul>
        <li class="graph-legend-item hidden">
            <span class="round-counter"></span>
            <span class="song"></span>
            <span class="album"></span>
            <span class="artist"></span>
        </li>
    </ul>
</div>