<h1 class="fontface-2">RANDOM BATTL</h1>
<div class="random-battl rounded-corners">
    <div class="random-battl-item">
        <div class="big-album rounded-corners">
            <div class="reflexo-big"></div>
            <img src="/img/album.jpg" class="rounded-corners" width="78" height="78" alt="aa" />
        </div>
        <div class="media-item-text">
            <h1>OUTRUNNERS</h1>
            <h2>Running for love</h2>
        </div>
    </div>
    <span class="versus-min versus-min-font">VS</span>
    <div class="random-battl-item">
        <div class="big-album rounded-corners">
            <div class="reflexo-big"></div>
            <img src="/img/album.jpg" class="rounded-corners" width="78" height="78" alt="aa" />
        </div>
        <div class="media-item-text">
            <h1>OUTRUNNERS</h1>
            <h2>Running for love</h2>
        </div>
    </div>
</div>
<input type="button" name="shuffle" value="Shuffle" class="random-battl-button-save button-save" />