<h1 class="media-column-title">TWITTER</h1>
<ul class="media-list twitter-list">
    <li class="media-list-row clearfix">
        <div class="media-list-row-column-left twitter-image rounded-corners">
            <div class="twitter-reflexo"></div>
            <img src="img/twitter.jpg" class="rounded-corners" width="48" height="48" alt="aa" />
        </div>
        <div class="media-list-row-column-right media-item-text">
            <p>we replied @pro_cessor ha, yes. If you’ve ever had the pleasure of uber cab, it</p>
        </div>
    </li>
</ul>