<!--CONTENT-->
<div class="user-profile">

    <div class="user-profile-data-container">
        <div class="user-profile-img-container default-content-ph">
            <img src="/img/user-profile-default.png" height="154" width="154" alt="Picture" class="profile-img" />
        </div>
        <div class="user-profile-text hidden">
            <h1 class="name"></h1>
            <h2 class="city-country"></h2>
            <a class="button-style btn-edit hidden clearfix" href="#/site/edit-profile">Edit profile</a>
        </div>
        <div class="clearfix"></div>
    </div>

    <!--COLUMNS-->
    <div class="columns-container">

        <!--COLUMN LEFT-->
        <div class="media-column versus-details">

            <!--BATTLS WON-->
            <div class="battls-won default-content-ph media-column">
                <div class="ph">
                </div>
            </div>
            <!--END BATTLS WON-->
        </div>

        <!--COLUMN MIDDLE-->
        <div class="column-middle media-column hidden">

            <!--BATTLS LOSS-->
            <div class="battls-lost default-content-ph media-column respiro">
                <div class="ph">
                </div>
            </div>
            <!--END BATTLS LOSS-->
        </div>

        <!--COLUMN RIGHT-->
        <div class="media-column">

            <!--FAVORITE SONGS-->
            <div class="user-favorites default-content-ph media-column respiro">
                <div class="ph">
                </div>
            </div>
            <!--END FAVORITE SONGS-->
        </div>

        <div class="clearfix"></div>
    </div>
    <!--END COLUMNS-->
    <div class="clearfix"></div>
</div>
<!--END CONTENT-->