.count-left {
	left: 0;
}
.count-right {
	left: 104px;
}
.count {
    box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.2);
    height: 90px;
    line-height: 96px;
    /*-moz-perspective: 500px;
    -webkit-perspective: 500px;
    -ms-perspective: 500px;
    perspective: 500px;*/
    position: absolute;
    text-align: center;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    width: 96px;
    /*-webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;*/
}
.count span {
    background: #1A1919;
    color: #f8f8f8;
    display: block;
    font-size: 75px;
    left: 0;
    position: absolute;
    top: 0;
    text-shadow: 0 1px 0 #282828, 0 2px 0 #1e1e1e, 0 3px 0 #141414, 0 4px 0 #0a0a0a, 0 5px 0 black, 0 0 10px rgba(0, 0, 0, 0.8);
    -moz-transform-origin: 0 45px 0;
    -webkit-transform-origin: 0 45px 0;
    -ms-transform-origin: 0 45px 0;
    -o-transform-origin: 0 45px 0;
    transform-origin: 0 45px 0;
    width: 100%;
}
.count span:before {
  border-bottom: 2px solid black;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
}
.count span:after {
  box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.35);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.count .small {
  font-size: 75px;
}
.count .top {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: inset 0 2px rgba(0, 0, 0, 0.9), inset 0 3px 0 rgba(255, 255, 255, 0.4);
  height: 50%;
  overflow: hidden;
}
.count .top:before {
  bottom: 0;
}
.count .top:after {
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.count .bottom {
  border-radius: 4px;
  height: 100%;
  box-shadow: inset 0 -2px rgba(0, 0, 0, 0.9), inset 0 3px 0 rgba(255, 255, 255, 0.4);
}
.count .bottom:before {
  top: 50%;
}
.count .bottom:after {
  border-radius: 4px;
  background: -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0));
  background: -o-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0));
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0));
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0));
  box-shadow: inset 0 -2px rgba(0, 0, 0, 0.9), inset 0 3px 0 rgba(255, 255, 255, 0.4);
}
.count.down .top {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 50%;
}
.count.down .top.current {
  -webkit-transform-style: flat;
  transform-style: flat;
  z-index: 300;
}
.count.down .top.next {
    -moz-transform: rotate3d(1, 0, 0, -90deg);
    -ms-transform: rotate3d(1, 0, 0, -90deg);
    -o-transform: rotate3d(1, 0, 0, -90deg);
    -webkit-transform: rotate3d(1, 0, 0, -90deg);
    transform: rotate3d(1, 0, 0, -90deg);
    z-index: 400;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.count.down .bottom {
  border-radius: 4px;
  box-shadow: inset 0 -2px rgba(0, 0, 0, 0.9), inset 0 3px 0 rgba(255, 255, 255, 0.4);
}
.count.down .bottom.current {
    z-index: 200;
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.count.down .bottom.next {
  z-index: 1;
  -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.count.down.changing .bottom.current {
  box-shadow: 0 75px 5px -20px rgba(0, 0, 0, 0.3);
  -moz-transform: rotate3d(1, 0, 0, 90deg);
  -ms-transform: rotate3d(1, 0, 0, 90deg);
  -o-transform: rotate3d(1, 0, 0, 90deg);
  -webkit-transform: rotate3d(1, 0, 0, 90deg);
  transform: rotate3d(1, 0, 0, 90deg);
  -moz-transition: -moz-transform 0.35s ease-in, box-shadow 0.35s ease-in;
  -o-transition: -o-transform 0.35s ease-in, box-shadow 0.35s ease-in;
  -webkit-transition: -webkit-transform 0.35s ease-in, box-shadow 0.35s ease-in;
  transition: transform 0.35s ease-in, box-shadow 0.35s ease-in;
}
.count.down.changing .top.next, .count.down.changed .top.next {
    -moz-transition: -moz-transform 0.35s ease-out 0.35s;
    -o-transition: -o-transform 0.35s ease-out 0.35s;
    -webkit-transition: -webkit-transform 0.35s ease-out;
    -webkit-transition-delay: 0.35s;
    -moz-transition-delay: 0.35s;
    -o-transition-delay: 0.35s;
    transition-delay: 0.35s;
    transition: transform 0.35s ease-out 0.35s;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none;
}
.count.up .top {
  height: 50%;
}
.count.up .top.current {
  z-index: 4;
}
.count.up .top.next {
  z-index: 3;
}
.count.up .bottom.current {
  z-index: 1;
}
.count.up .bottom.next {
    box-shadow: 0 175px -5px -20px rgba(0, 0, 0, 0.2);
    -moz-transform: rotate3d(1, 0, 0, 90deg);
    -ms-transform: rotate3d(1, 0, 0, 90deg);
    -o-transform: rotate3d(1, 0, 0, 90deg);
    -webkit-transform: rotate3d(1, 0, 0, 90deg);
    transform: rotate3d(1, 0, 0, 90deg);
    z-index: 2;
}
.count.up.changing .top.current {
    -moz-transform: rotate3d(1, 0, 0, -90deg);
    -ms-transform: rotate3d(1, 0, 0, -90deg);
    -o-transform: rotate3d(1, 0, 0, -90deg);
    -webkit-transform: rotate3d(1, 0, 0, -90deg);
    transform: rotate3d(1, 0, 0, -90deg);
    -moz-transition: transform 0.2625s ease-in, box-shadow 0.2625s ease-in;
    -o-transition: transform 0.2625s ease-in, box-shadow 0.2625s ease-in;
    -webkit-transition: transform 0.2625s ease-in, box-shadow 0.2625s ease-in;
    transition: transform 0.2625s ease-in, box-shadow 0.2625s ease-in;
}
.count.up.changing .bottom.next, .count.up.changed .bottom.next {
    box-shadow: 0 0 0 0 transparent;
    -moz-transition: box-shadow 0.13125s cubic-bezier(0.375, 1.495, 0.61, 0.78) 0.2625s, transform 0.2625s cubic-bezier(0.375, 1.495, 0.61, 0.78) 0.2625s;
    -o-transition: box-shadow 0.13125s cubic-bezier(0.375, 1.495, 0.61, 0.78) 0.2625s, transform 0.2625s cubic-bezier(0.375, 1.495, 0.61, 0.78) 0.2625s;
    -webkit-transition: box-shadow 0.13125s cubic-bezier(0.375, 1.495, 0.61, 0.78) 0.2625s, transform 0.2625s cubic-bezier(0.375, 1.495, 0.61, 0.78) 0.2625s;
    transition: box-shadow 0.13125s cubic-bezier(0.375, 1.495, 0.61, 0.78) 0.2625s, transform 0.2625s cubic-bezier(0.375, 1.495, 0.61, 0.78) 0.2625s;
    -webkit-transition-delay: 0.2625s, 0.2625s;
    -moz-transition-delay: 0.2625s, 0.2625s;
    -o-transition-delay: 0.2625s, 0.2625s;
    transition-delay: 0.2625s, 0.2625s;
    -moz-transform: rotate3d(1, 0, 0, 0);
    -ms-transform: rotate3d(1, 0, 0, 0);
    -o-transform: rotate3d(1, 0, 0, 0);
    -webkit-transform: rotate3d(1, 0, 0, 0);
    transform: rotate3d(1, 0, 0, 0);
}
.count.changed .top.current,
.count.changed .bottom.current {
  display: none;
}