.most-voted-tab {
    margin-left: 2px;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 64px;

    li {
        width: 32.9%;
        height: 62px;
        background: #0b0a0b;
        float: left;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0b0a0b), color-stop(100%, #0b0a0b), color-stop(0%, #131314), color-stop(100%,#0b0a0b));
        border-top: 1px solid #1f1e20;
        border-bottom: 1px solid #0D0D10;
        cursor: pointer;

        span {
            display: block;
            text-align: center;
            line-height: 65px;
        }
    }

    span:hover {
        color: #fff;
    }

    span:active {
        color: #666;
    }

    .active-tab {
        border-top: 1px solid #555555;
        border-left: 1px solid #1f1f1f;
        border-right: 1px solid #1f1f1f;
        border-bottom: 1px solid #0D0D10;
        background: #232223;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0b0a0b), color-stop(100%, #0b0a0b), color-stop(0%, #333), color-stop(100%,#0b0a0b));
    }

    .active-tab span:active {
        color: #fff;
    }
}

.most-voted-list {
    min-height: 400px !important;
}